<%= form_for :share ,:url=>"/shares", :method => "post",:html=>{:id=>:create_share} do |f|%>
  <textarea rows="6" cols="50" name="share_content" id="share_content"></textarea><% end %><button onclick="create_share()">发表</button>
<h1>Listing shares</h1>
<table>
  <tr>
    <th>Content</th>
    <th>操作</th>
  </tr>
  <% @shares.each do |share| %>
    <tr>
      <td><%= share.content %></td>
      <td><button <%if @detail[share.id] %> disabled<% end %> onclick="vote_u(<%= share.id %>)">投票</button></td>
    </tr>
  <% end %>
</table>
<%=  will_paginate @shares ,:previous_label=>" &lt;", :next_label=>" &gt;" %>
<br />
<%= form_for :vote ,:url=>"/shares/vote_u", :method => "post",:html=>{:id=>:vote_form} do |f|%>
  <input type="hidden" id="vote_id" name="vote_id" value="" />
<% end %>
<%= link_to 'New Share', new_share_path %>
